h1{color: rgb(0, 0, 0); font-size: 50px;}
h2{color: rgb(7, 255, 160); font-size: 50px;}
h3{color: rgb(26, 201, 26); font-size: 50px;}
body{background-image: url(images/1574.jpg);  height:fit-content;  background-size: cover;}
p{color:rgb(21, 255, 0); font-size: x-large;}
body{padding: 20%;}
body{padding-top: 4%;}

    